<p style="color: green"><%= notice %></p>

<h1><%= "#{MiningType.model_name.human}" %>></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th> <%= MiningType.human_attribute_name(:description) %> </th>
    <th> <%= MiningType.human_attribute_name(:acronym) %> </th>
  </tr>
  </thead>
  <tbody>
  <% @mining_types.each do |mining_types| %>
    <tr>
      <td> <%= mining_types.description %> </td>
      <td> <%= mining_types.acronym %> </td>
      <td>
        <%= link_to t('showing.mining_type'), mining_types %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('new.mining_type'), new_mining_type_path, class: "btn btn-primary btn-lg" %>
<%= link_to t('links.back'), root_path, class: "btn btn-primary btn-lg" %>
