<p style="color: green"><%= notice %></p>

<h1><%= "#{Coin.model_name.human}" %></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th> <%= Coin.human_attribute_name(:description) %> </th>
    <th> <%= Coin.human_attribute_name(:acronym) %> </th>
    <th> <%= Coin.human_attribute_name(:url_image) %> </th>
    <th> Mineração </th>
  </tr>
  </thead>
  <tbody>
  <% @coins.each do |coin| %>
    <tr>
      <td> <%= coin.description %> </td>
      <td> <%= coin.acronym %> </td>
      <td> <%= image_tag coin.url_image, size: "25x25" %> </td>
      <td> <%= coin.mining_type.description %> </td>
      <td>
        <%= link_to t('showing.coin'), coin %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('new.coin'), new_coin_path, class: "btn btn-primary btn-lg" %>
<%= link_to t('links.back'), root_path, class: "btn btn-primary btn-lg" %>
