<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('editing.coin'), edit_coin_path(@coin), class: "btn btn-primary btn-lg" %> |
  <%= link_to t('links.back'), coins_path, class: "btn btn-primary btn-lg" %> |

  <%= button_to t('links.delete'), @coin, method: :delete, data: 'Tem certeza?', class: "btn btn-primary btn-lg" %>
</div>
